.main-home {
  box-sizing: border-box;
  height: auto;
  width: max(600px);
  margin-left: 25vw;
  margin-right: 25vw;
  background-color: #15202b;
  border-left: 1px solid #38444d;
  border-right: 1px solid #38444d;
  color: white;

  .info-bar {
    h1 {
      padding: 15px;
      font-size: 1.25rem;
    }
  }

  #tweets {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
