.main-profile {
  height: 200vh;
  width: 50vw;
  margin-left: 25vw;
  margin-right: 25vw;
  background-color: #15202b;
  border-left: 1px solid #38444d;
  border-right: 1px solid #38444d;
  color: white;
}
