.main-profile {
  height: auto;
  width: max(600px);
  margin-left: 25vw;
  margin-right: 25vw;
  background-color: #15202b;
  border-left: 1px solid #38444d;
  border-right: 1px solid #38444d;
  color: white;

  .profile-banner {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .profile-follow {
      display: flex;
      gap: 15px;
      width: 80%;
      margin-left: 4vw;
      align-items: flex-end;
      justify-content: space-between;

      p {
        font-weight: bold;
      }

      .editPhoto {
        border: none;
        margin-right: 5vw;
        margin-bottom: 4vh;
        height: 40px;
        width: 30%;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 50px;
        background-color: #7856ff;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
          display: none;
        }

        &:hover {
          cursor: pointer;
          background-color: #653ffc;
        }
      }
    }

    .profile-description {
      margin-left: 5vw;
      display: flex;
      flex-direction: column;

      p {
        font-size: 15px;
      }

      div {
        display: flex;
        gap: 5px;
        align-items: flex-end;
        margin-top: 1vh;

        p {
          font-weight: 600;
        }

        span {
          font-size: 0.85rem;
          color: #8b98a5;
        }
      }
    }

    h1 {
      padding-bottom: 3vh;
    }

    h3 {
      padding-top: 5vh;
      padding-bottom: 15px;
      border-bottom: 1px solid #38444d;
      width: 100%;
      text-align: center;
    }

    img {
      height: 125px;
      width: 125px;
      border-radius: 50%;
      margin-top: 5vh;
      border: 3px solid #748c9fb1;
    }
  }

  .tweet {
    border-top: 1px solid #38444d;
    width: calc(100%);
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 5px;

    &:hover {
      background-color: #8b98a507;
    }

    .tweet-handle {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-left: 2vw;
      font-weight: bold;

      .profile-handle {
        display: flex;
        align-items: center;
        border-radius: 25px;
        padding: 3px;
        &:hover {
          background-color: #8b98a536;
        }

        p {
          color: white;
          font-size: 0.85rem;
          margin-left: 10px;
        }
      }

      .follow-button {
        margin-left: auto;
        margin-right: 2.75vw;
        border-radius: 25px;
        padding: 5px;

        &:hover {
          background-color: #8b98a59d;
          cursor: pointer;
        }

        #revealContainer {
          background-color: white;
          width: 50vw;
          height: 50vh;
          position: fixed;
        }
      }

      img {
        border-radius: 50px;
        height: 42px;
        width: 42px;
      }
    }

    .tweet-body {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-left: 3vw;

      p {
        font-size: 1rem;
        font-weight: 400;
        margin-left: 3.5vw;
        padding-top: 2px;
      }

      img {
        height: 200px;
        width: 200px;
        border-radius: 25px;
        margin-left: 1vw;
      }
    }

    .tweet-stat {
      display: flex;
      gap: 3%;
      align-items: center;
      margin-left: 5vw;
      margin-top: auto;
      margin-bottom: 2%;
      color: #8b98a5;
      padding-top: 10px;

      div {
        width: 5vw;
      }

      .tweet-stat-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
      }

      .tweet-comment:hover {
        background-color: rgba(37, 46, 56, 1);
        border-radius: 50px;
        cursor: pointer;
      }

      .tweet-heart:hover {
        background-color: rgba(37, 46, 56, 1);
        border-radius: 50px;
        cursor: pointer;
      }

      p {
        font-size: 0.9rem;
      }

      .tweet-time {
        margin-left: auto;
        margin-right: 2vw;
        color: #8b98a5;
        font-size: 0.8rem;
      }
    }
  }
}
