.right-sidebar {
  position: fixed;
  margin-left: 75vw;
  width: 24vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .signup-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 25px;
    width: 75%;
    gap: 1.25vw;

    h1 {
      font-size: 22.5px;
      font-weight: bold;
    }

    p {
      font-weight: 200;
      font-size: 13px;
    }

    strong {
      font-weight: 600;
    }

    button {
      padding: 10px;
      font-size: 0.85rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border: none;
      border: 2px solid aquamarine;
      height: 5vh;

      &:hover {
        background-color: aquamarine;
        cursor: pointer;
      }
    }
  }
  .trending-tab {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    gap: 2vh;

    .recentevents-tab {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top: 5vh;
      width: 85%;
      height: 60vh;
      gap: 5vh;

      h1 {
        font-size: 1.5rem;
      }
    }

    .search-bar {
      margin-top: 2vh;
      margin-left: 2vh;

      input {
        border: none;
        border-bottom: 2px solid aquamarine;
        font-size: 1.25rem;
        width: 15vw;
        margin-left: 1vw;

        &:focus {
          outline: none;
        }
      }
    }
  }
  .footer-notes {
    display: flex;
    font-size: 0.75rem;
    flex-direction: column;
    gap: 10px;
    margin-top: 5vh;

    div {
      display: flex;
      width: 20vw;
      text-align: center;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }
}
