.main-settings {
  height: 100vh;
  width: max(600px);
  margin-left: 25vw;
  margin-right: 25vw;
  background-color: #15202b;
  border-left: 1px solid #38444d;
  border-right: 1px solid #38444d;
  color: white;

  #settings-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    .settings-item {
      height: 7vh;
      padding-top: 3vh;
      padding-left: 1.5vh;
      border-bottom: 1px solid #38444d;

      &:hover {
        background-color: #1e2732;
        cursor: pointer;
      }

      p {
        font-weight: lighter;
        font-size: 0.85rem;
        padding-top: 5px;
      }
    }
  }

  h1 {
    padding: 15px;
    font-size: 1.25rem;
    border-bottom: 1px solid #38444d;
  }
}
