nav {
  padding-top: 3vh;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 25vw;
}

#sidebar {
  font-size: 22.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3vw;

  div {
    display: flex;
    align-items: center;
    width: 20vw;
    gap: 2vw;

    &:hover {
      font-weight: 600;
    }
  }

  button {
    align-self: center;
    color: black;
    background-color: aquamarine;
    padding: 15px 30%;
    border-radius: 50px;
    font-size: 1.25rem;
    border: none;
    font-weight: 200;

    &:hover {
      cursor: pointer;
      font-weight: 600;
    }
  }

  #profile-nav {
    margin-top: 2vh;

    span {
      height: 50px;
      width: 50px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }

    p {
      font-size: 15px;
    }
  }
}
