nav {
  padding-top: 3vh;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 25vw;
}

#sidebar {
  font-size: 22.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3vw;

  div {
    display: flex;
    align-items: center;
    width: 20vw;
    gap: 2vw;

    &:hover {
      cursor: pointer;
    }

    a {
      display: flex;
      align-items: center;
    }

    span {
      padding-left: 20px;
    }
  }

  .sidebarItem {
    &:hover {
      color: rgba(127, 255, 212, 0.807);

      a {
        color: rgba(127, 255, 212, 0.807);
      }
    }
  }

  #tweetButton {
    align-self: center;
    color: black;
    background-color: aquamarine;
    padding: 2.25vh 7vw;
    border-radius: 50px;
    font-size: 1.1rem;
    border: none;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      font-weight: 600;
      background-color: rgba(127, 255, 221, 0.896);
    }
  }

  #profile-nav {
    padding: 10px;
    border-radius: 50px;

    .user-handle {
      font-weight: lighter;
      margin-top: 5px;
    }

    &:hover {
      background-color: rgba(127, 255, 212, 0.223);
    }

    .profile-avatar {
      border-radius: 50px;
      height: 50px;
    }

    p {
      padding-left: 2vw;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .signOutContainer {
    width: 22vw;

    span {
      background-color: none;
    }

    button {
      border: none;
      font-size: 1.2rem;
      border-radius: 50px;
      padding: 10px 20px;
      &:hover {
        cursor: pointer;
        font-weight: 500;
        background-color: rgba(0, 208, 255, 0.1);
      }
    }
  }
}
