nav {
  padding-top: 3vh;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 25vw;
}

#sidebar {
  font-size: 22.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3vw;

  #tweetButton {
    align-self: center;
    color: black;
    background-color: aquamarine;
    padding: 15px 50px;
    font-size: 1rem;
    border: none;
    font-weight: 200;

    &:hover {
      border: 1px solid black;
      cursor: pointer;
      font-weight: 600;
    }
  }

  div {
    display: flex;
    align-items: center;
    width: 20vw;
    gap: 2vw;

    a:hover {
      font-weight: 600;
    }
  }

  #profile-nav {
    margin-top: 2vh;
    padding: 10px;
    border-bottom: 1px solid aquamarine;

    .profile-avatar {
      border-radius: 50px;
      height: 50px;
    }

    span {
      height: 50px;
      width: 50px;
      background-color: #bbb;
      display: inline-block;
    }

    p {
      font-size: 15px;
    }
  }

  .signOutButton {
    border: none;
    font-size: 1.2rem;

    &:hover {
      cursor: pointer;
      color: aquamarine;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
